* {
    margin: 0;
    padding: 0;
    outline: 0;
  }
  
  table {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    border: 1px solid #2382c1;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  th {
    background-color: #2382c1;
    color: #ffffff;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  tr:nth-child(odd) {
    background-color: #eeeeee;
  }
  tr:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
  }
  /* Media query for smaller screens */
  @media screen and (max-width: 600px) {
    table {
      width: 100%;
    }
  
    th,
    td {
      display: block;
    }
  
    td {
      text-align: right;
      padding: 6px;
    }
  
    td::before {
      content: attr(data-label);
      font-weight: bold;
      display: inline-block;
      width: 80px;
    }
  
    th,
    td {
      border-bottom: none;
    }
  }
  
